@import url(https://fonts.googleapis.com/css?family=Cuprum);
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h6 {
  font-family: 'Cuprum', sans-serif;
  color: #E36B23;
  text-shadow: -1px 1px 0 #612c0c;
}
h1,
h2 {
  text-shadow: -2px 2px 0 #612c0c;
}
h1 {
  line-height: 55px;
}
code,
pre {
  background-color: #566577;
  border: none;
  color: #ECE9D7;
}
.page-header {
  border-bottom: none;
}
blockquote {
  border-left: 5px solid #45515F;
}
blockquote.pull-right {
  border-right: 5px solid #45515F;
}
.navbar .navbar-inner {
  background-image: none;
}
.navbar .brand {
  padding: 25px 20px 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  text-shadow: -2px 2px 0 #612c0c;
}
.navbar .nav > li > a {
  padding: 23px 20px 13px;
  line-height: 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 22px;
  text-shadow: -2px 2px 0 #612c0c;
}
.navbar .brand:hover,
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.dropdown.open > a,
.navbar .nav > li.dropdown.open > a:hover {
  position: relative;
  top: 1px;
  left: -1px;
  color: #E36B23;
  text-shadow: -1px 1px 0 #612c0c;
}
.navbar .navbar-text {
  padding: 23px 20px 13px;
  line-height: 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 22px;
  text-shadow: -2px 2px 0 #555;
}
.navbar .navbar-search {
  margin-top: 24px;
}
.navbar .navbar-search .search-query {
  font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
  font-size: 15px;
  line-height: 20px;
}
.navbar.navbar-inverse .navbar-search .search-query {
  color: #2A333C;
}
.navbar .divider-vertical {
  height: 70px;
}
.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
  margin-top: 14px;
  border-top-color: #ECE9D7;
}
.navbar .dropdown-menu::before {
  border: none;
}
.navbar .dropdown-menu::after {
  left: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #5a6a7d;
}
.navbar [class^="icon-"],
.navbar [class*=" icon-"] {
  vertical-align: 20%;
}
.navbar .btn-navbar {
  background-color: #45515F;
  border-color: transparent;
}
@media (max-width: 979px) {
  .navbar .nav-collapse .nav li > a {
    color: #E36B23;
  }
  .navbar .nav-collapse .nav li > a:hover {
    background-color: #5a6a7d !important;
    background-image: none;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    border-top: none;
    border-bottom: none;
  }
  .navbar .nav-collapse .nav-header {
    color: #ECE9D7;
  }
}
div.subnav {
  background-color: #45515F;
  background-image: none;
  border: none;
}
div.subnav .nav > li > a,
div.subnav .nav > li.active > a {
  border-left: none;
  border-right: none;
  color: #ECE9D7;
}
div.subnav .nav > li > a:hover,
div.subnav .nav > li.active > a:hover {
  background-color: #5a6a7d;
}
div.subnav .nav > li + li > a {
  border-top: 0px solid transparent;
}
div.subnav .nav > li.active > a,
div.subnav .nav > li.active > a:hover {
  color: #fff;
  background-color: #E36B23;
  background-image: none;
}
div.subnav.subnav-fixed {
  top: 70px;
}
div.subnav.subnav-fixed .nav > li > a,
div.subnav.subnav-fixed .nav > li.active > a,
div.subnav.subnav-fixed .nav > li > a:hover,
div.subnav.subnav-fixed .nav > li.active > a:hover {
  border-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
}
div.subnav.subnav-fixed .nav > li > a:hover,
div.subnav.subnav-fixed .nav > li.active > a:hover {
  color: #fff;
}
div.subnav .nav > .active > a .caret,
div.subnav .nav > .active > a:hover .caret {
  border-top-color: #ECE9D7;
}
.nav .nav-header {
  color: #ECE9D7;
  text-shadow: none;
}
.nav-list {
  padding: 0 15px;
}
.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: none;
  color: #ECE9D7;
}
.nav-list .active > a,
.nav-list .active > a:hover {
  text-shadow: none;
  color: #fff;
}
.nav-list li > a:hover {
  background-color: #5a6a7d;
}
.nav-tabs,
.nav-tabs.nav-stacked > li > a {
  border-color: transparent;
}
.nav-tabs > li > a {
  background-color: #45515F;
  color: #ECE9D7;
}
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs.nav-stacked > li.active > a:hover {
  color: #fff;
  background-color: #E36B23;
  border-color: transparent;
}
.nav-tabs li > a:hover,
.nav-tabs.nav-stacked > li > a:hover {
  background-color: #5a6a7d;
  border-color: transparent;
}
.nav-pills > li > a {
  color: #ECE9D7;
  background-color: #45515F;
}
.nav-pills > li:hover > a {
  background-color: #5a6a7d;
  border-color: transparent;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  background-color: #5a6a7d;
  border-color: transparent;
}
.nav-pills .dropdown .caret,
.nav-pills .dropdown:hover .caret {
  border-top-color: #ECE9D7;
}
.dropdown.open .dropdown-menu > li > a:hover,
.dropdown.open .dropdown-menu > li.active > a:hover {
  background-color: #E36B23;
  color: #fff;
}
.tabbable .nav-tabs,
.tabbable .nav-tabs > li.active > a,
.tabbable .nav-tabs > li > a:hover,
.tabbable .nav-tabs > li.active > a:hover {
  border-color: transparent;
}
.breadcrumb {
  background-color: #45515F;
  background-image: none;
  border: none;
}
.breadcrumb li {
  text-shadow: none;
}
.breadcrumb .divider {
  color: #ECE9D7;
}
.pagination ul {
  background-image: none;
  border-color: transparent;
}
.pagination ul > li > a,
.pagination ul > li > span {
  border: none;
  color: #ECE9D7;
}
.pagination ul > li > a:hover {
  background: #5a6a7d;
}
.pagination ul > .active > a,
.pagination ul > .active > a:hover,
.pagination ul > .active > span,
.pagination ul > .active > span:hover {
  background-color: #E36B23;
  color: #fff;
}
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover {
  background: #3a4450;
}
.pager a {
  color: #ECE9D7;
  background-color: #45515F;
  border-color: transparent;
}
.pager a:hover {
  background: #5a6a7d;
}
.pager .disabled a,
.pager .disabled a:hover {
  background-color: #45515F;
}
.btn,
.btn:hover {
  text-shadow: none;
  background-image: none;
  border: none;
}
.btn-warning {
  background-color: #E6C92E;
}
.btn.active,
.btn:active {
  position: relative;
  top: 1px;
  left: -1px;
}
.btn.disabled,
.btn.disabled.active,
.btn.disabled:active,
.btn[disabled] {
  text-shadow: none;
  top: 0;
  left: 0;
}
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: -13%;
}
input,
button,
select,
textarea {
  font-family: 'Cuprum Text', serif;
}
legend {
  border-bottom: none;
  font-family: 'Cuprum', sans-serif;
  color: #E36B23;
  text-shadow: -2px 2px 0 #612c0c;
}
label {
  color: #ECE9D7;
  line-height: 15px;
}
.help-block {
  color: #ECE9D7;
  opacity: 0.6;
}
.form-actions {
  border-top: none;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn {
  color: #2A333C;
}
.dropdown .caret {
  margin-top: 14px;
  opacity: 1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #5a6a7d;
}
.label {
  background-color: #45515F;
  color: #ECE9D7;
}
.label-important {
  background-color: #b94a48;
}
.label-warning {
  background-color: #E36B23;
}
.label-success {
  background-color: #468847;
}
.label-info {
  background-color: #3a87ad;
}
.alert {
  background-color: #45515F;
  border: none;
  color: #ECE9D7;
  text-shadow: none;
}
.alert a {
  color: #ea9059;
}
.alert .alert-heading {
  color: #E36B23;
}
.alert-success {
  background-color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #b94a48;
}
.alert-info {
  background-color: #3a87ad;
}
.well,
.hero-unit {
  border: none;
}
.hero-unit h1 {
  color: #E36B23;
  line-height: 2em;
}
.progress {
  background-color: #20262d;
  background-image: none;
}
.thumbnail {
  border: none;
  background: #45515F;
}
.modal {
  background-color: transparent;
}
.modal-header,
.modal-body,
.modal-footer {
  background-color: #2A333C;
  border: none;
}